body{
 background-color:hsl(212,45%,89%);
 height:2000px;
}
 
.box{
 margin-left:475px;
 margin-top:100px;
 margin-right:475px;
 margin-bottom:100px;
 height:500px;
 background-color:hsl(0,0%,100%);
 text-align:center;
 border-radius:10%;
 
}

.box h3{
  family: [Outfit](https://fonts.google.com/specimen/Outfit);
  weights: 400, 700;
}

.box p{
 font:15px;
 color:hsl(212, 45%, 89%);
}
.box img{
 color:hsl(218, 44%, 22%);
 width:300px;
 height:300px;
 margin-top:25px;
 border-radius:10%;
}

